<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Byte-Task</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    body {
      background: linear-gradient(to right, #000000, #1e3a8a); /* Black to Blue */
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Full height */
    }
    .footer {
      margin-top: auto; /* Push footer to bottom */
      border-top: 1px solid white; /* Thinner white top border */
      text-align: center; /* Center footer text */
      padding: 10px; /* Padding around footer */
      color: white; /* White text color */
    }
    .inverted {
      filter: invert(1);
    }
    .icon {
      width: 30px; /* Adjust size as needed */
      height: 30px; /* Adjust size as needed */
    }
    .content {
      flex-grow: 1; /* Take up remaining space */
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center vertically */
      align-items: center; /* Center horizontally */
      text-align: center; /* Center text */
    }
    h1 {
      margin-bottom: 16px; /* Increased margin for more gap */
      font-size: 4rem; /* Larger heading size */
    }
  </style>
</head>
<body>
  <div class="content">
    <h1 class="text-3xl font-bold mb-8 text-white">BYTE TASK</h1> <!-- Updated for larger size -->
    <a href="/auth/github" class="block mb-4">
      <button class="flex items-center px-4 py-2 bg-white text-black rounded-lg shadow hover:bg-gray-100 hover:outline hover:outline-blue-600 hover:outline-2">
        <img src="./git.jpeg" alt="git" class="icon inverted mr-2">
        Login with GitHub
      </button>
    </a>
    <a href="/auth/google" class="block mb-4">
      <button class="flex items-center px-4 py-2 bg-white text-black rounded-lg shadow hover:bg-gray-100 hover:outline hover:outline-blue-600 hover:outline-2">
        <img src="./google.png" alt="google" class="icon mr-2">
        Login with Google
      </button>
    </a>
  </div>
  <footer class="footer">
    <p>&copy; 2024 Byte-Task. All rights reserved. <a href="/privacy-policy" class="text-blue-600">Privacy Policy</a></p>
  </footer>
</body>
</html>
